<body class="bg-body-primary p-2">
  <div class="container-lg">
    <form class="d-flex col-12 justify-content-center" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Pokémon"
        aria-label="Search-Pokémon"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div
      class="modal fade"
      id="commentModal"
      tabindex="-1"
      aria-labelledby="commentModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="commentModalLabel">
              Adicionar comentário
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="row-xs-0 modal-body gap-3 d-grid">
            <div class="col-md-12">
              <input
                type="text"
                placeholder="Nome"
                class="w-100"
                id="commentName"
              />
            </div>
            <div class="col-md-12">
              <textarea
                placeholder="Comentário"
                name="Comentário"
                id="comment"
                cols="30"
                class="w-100"
                rows="10"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="submitComment()"
            >
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card mb-3"
      style="max-width: 850px; margin-top: 2%"
      *ngFor="let pokemon of pokemonList$ | async; index as i"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ pokemon.characteristics.sprites.front_default }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">
              {{ pokemon.name }}
              <button
                class="btn btn-light"
                [routerLink]="['/details']"
                [queryParams]="{ name: pokemon.name }"
              >
                Ver detalhes
              </button>
            </h5>
            <p *ngIf="!pokemon.comment?.comment">Sem comentário adicionado</p>
            <p *ngIf="pokemon.comment?.comment">
              Comentário adicionado: {{ pokemon.comment?.comment }}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p>
              Peso: {{ (pokemon.characteristics.weight / 10).toFixed(1) }} kg
            </p>
            <p>Altura: {{ pokemon.characteristics.height * 10 }} cm</p>
            <div class="btn-group button" style="gap: 10px">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modalComentario"
                (click)="openCommentsModal(pokemon)"
              >
                Adicionar comentário
              </button>
              <button
                type="button btn "
                class="btn btn-secondary"
                (click)="deleteComment(pokemon)"
              >
                Excluir comentário
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" (click)="previousPage()">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </footer>
</body>
